/* Index page */
body {
    width: 100%;
    min-height:100%;
    background-color: rgb(255, 255, 255);
  }
  
  
  .top {
    margin-bottom: 5rem;
  }
  
  .navright {
      display: flex;
      justify-content: flex-end;
      /* font-size: 1.5rem; */
  }
  
  .column {
    width: 100%;
  } 
  
  h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: lightseagreen;
  }
  
  h1 {
    font-size: 26px;
    font-weight: bold;
    text-align:left;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    text-align:left;
  }
  
  p {
    color: gray;
    text-align:left;
  }
  
  img {
    max-width: 100%;
  }
  
  .navbar {
      position: absolute;
      right: 50px;
  }
  
  .btn {
    background-color: white;
    z-index:2;
  }

  
  .top {
    background-color: white;
    z-index:2;
  }
  
  
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  